<h1>Is Market open: {{ isMarketOpen }}</h1>

<h3>Market Trading Volume</h3>
<ag-grid-angular
    style="width: 500px; height: 200px;"
    class="ag-theme-balham"
    [rowData]="marketVolumeRowData"
    [columnDefs]="marketVolumeColumnDefs">
</ag-grid-angular>

<h3>Favorite Stocks</h3>
<ag-grid-angular
    style="width: 500px; height: 200px;"
    class="ag-theme-balham"
    [rowData]="favoriteStocksRowData"
    [columnDefs]="favoriteStocksColumnDefs">
</ag-grid-angular>

<hr>

<pre>{{ marketTradingVolume | json }}</pre>

<hr>

<pre>{{ favoriteStocksListData | json }}</pre>